<div id="home" class="pane">	
	<ul class="slides">
		<li>
			<%= image_tag @slideshow_images.first.image.slide, :class => "static_slide" %>
			<span class="caption">
				<%= @slideshow_images.first.caption %>						
			</span>
		</li>
	</ul>	
</div>