<div id="about" class="pane">

	<div class="info_header">
		<%= render :partial => "shared/info_snippet", :locals => { :info => get_header_snippet } unless get_header_snippet.nil?%>
	</div>

	<div class="description">
		<% break_snippets_into_two_columns.first.each do |info| %>
			<%= render :partial => "shared/info_snippet", :locals => { :info => info } %>
		<% end %>
	</div>

	<div class="description">
		<% break_snippets_into_two_columns.last.each do |info| %>
			<%= render :partial => "shared/info_snippet", :locals => { :info => info } %>
		<% end %>
	</div>
</div>