<div id="exhibitions" class="pane">
	<% @exhibitions.each do |exhibition| %>
		<div class="exhibition">
			<div class="info">
				<div class="name title"><%= exhibition.title %></div>
				<div class="artists"><%= exhibition.artists %></div>
				<div class="opening">
					<span class="title">Reception</span>
					<%= l exhibition.reception_date, :format => :reception %> - <%= exhibition.reception_end_time.strftime("%l:%M %P") %>
				</div>
				<div class="dates">
					<span class="title">Dates</span>
					<%= l exhibition.opening, :format => :show_run %> - <%= l exhibition.closing, :format => :show_run %>
				</div>
				<div class="thumbnails">
					<% exhibition.exhibition_images.ordered.each do |exhibition_image| %>
							<%= link_to image_tag(exhibition_image.image.thumbnail, 
								:class => "thumbnail", 
								:alt => [exhibition_image.artist, exhibition_image.title,
										exhibition_image.year.to_s, exhibition_image.media,
										exhibition_image.dimensions].join(" - "),
								:data => {"image" => exhibition_image}),
								exhibition_image.image.full_size.url %>
					<% end %>
				</div>
				<div class="description">
					<%= simple_format exhibition.description %>
					<p>
						<span class="title">
							<%= content_tag :a, "Press Release", :href => exhibition.press_release %>
						</span>
						<span class="title">
							&nbsp;&nbsp;&nbsp;&nbsp;<%= content_tag :a, "Poster", :href => exhibition.poster %>
						</span>
						<span class="label">
							<% first_exhibition_image = exhibition.exhibition_images.ordered.first %>
							<%= first_exhibition_image.artist %><br />
							<span class="work_title"><%= first_exhibition_image.title %></span>, 
							<%= first_exhibition_image.year %><br />
							<%= first_exhibition_image.media %><br />
							<%= first_exhibition_image.dimensions %>
						</span>
					</p>
				</div>
			</div>
			
			<div class="work">
				<%= image_tag first_exhibition_image.image.full_size,
				 	:class => "full_size",
					:alt => [first_exhibition_image.artist, first_exhibition_image.title,
							first_exhibition_image.year.to_s, first_exhibition_image.media,
							first_exhibition_image.dimensions].join(" - ") %>
			</div>	
		</div>
	<% end %>
</div>