<div id="home" class="pane">
	<ul class="slides">
		<% @slideshow_images.each do |slideshow_image| %>
			<li>
				<%= image_tag slideshow_image.image.slide, :class => "slide" %>
				<span class="caption">
					<%= slideshow_image.caption %>						
				</span>
			</li>		
		<% end %>
	</ul>	
</div>
