/**************************************
	About page 
**************************************/

#about .info_header {
	margin-left:10%;
	margin-right:10%;
}

#about .description {
	float: left;
	width: 40%;
	display: block;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

#about .info_snippet_image {
	float: left;
	margin-right: 1em;
	margin-top: 1em;
}

/**************************************
	Styles for small viewports
**************************************/
@media all and (max-width: 840px) {

	#about .description {
		width: 85%;
	}
}