/**************************************
	Artists Page 

	See showcase.css for general styles that apply to showcase views.
**************************************/
#artists .name {
	font-family: 'Poiret One', sans-serif;
	color: Crimson;
}

#artist_names {
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	padding-top: 2px;
	padding-bottom: 2px;
}

#artist_name_heading {
	margin-right: 2em;
}
