/*
*= require reset.min
*= require redarrow
*/

/**************************************
	Contact
**************************************/
#contact {
	width: 91%;
	margin-left: 3%;
	margin-right: 5%;
}

.description {
	text-align: left;
	margin-top: 3%;
	float: left;
	font-size: .9em;
	margin-left: 10%;
}

.description > p {
	line-height: 1.5;
}

.description .title {
	font-size: 1.5em;
}