/**************************************
	Exhibitions Page 
**************************************/
.exhibition,
.artist {
	float: left;
	width: 97%;
	margin: 1%;
	padding-left:1%;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

#exhibitions .thumbnail,
#artists .thumbnail {
	margin-top: 4px;
	height: 50px;
}

#exhibitions .name {
	font-family: 'Poiret One', sans-serif;
}

#exhibitions .artists {
	font-family: 'Poiret One', sans-serif;	
	color: Crimson;
	font-size: 1.3em;
	margin-bottom: 3px;
}

#exhibitions .work,
#artists .work {
	width: 49%;
	text-align: center;
	margin-top: 1%;
	height: 500px;
	display: table;
	position: static;
}

#exhibitions .work_centering,
#artists .work_centering {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: static;
}

#exhibitions .info,
#artists .info {
	display: inline-block;
	width: 49%;
	float: left;
	margin-top: 1%;
}

#exhibitions .label,
#artists .label {
	font-size: .8em;
	color: #aaa;
	float: right;
	text-align: right;
}

#exhibitions .work_title,
#artists .work_title {
	font-style: italic;
}

.exhibition > .description,
.artist > .description {
	margin-left: 1%;
	width: 45%;
}

#exhibitions .compact_work,
#artists .compact_work {
	height: 200px;
	width: 24%;
	display: table;
	position: static;
	float: right;
	margin-top: 2%;
}

#exhibitions .compact_image_centering,
#artists .compact_image_centering {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: static;
}

/**************************************
	Styles for small viewports
**************************************/

@media all and (max-width: 1020px) {

	#exhibitions .work,
	#artists .work {
		width: 96%;
	}

	#exhibitions .info,
	#artists .info {
		width: 100%;
	}

	#exhibitions .label,
	#artists .label {
		margin-right: 3em;
		margin-top: -2.5em;
	}
}

@media all and (max-width: 320px) {
	#exhibitions .work,
	#artists .work {
		display: block;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	#exhibitions .work img,
	#artists .work img {
		display: block;
		width: 300px;
		height: auto;
	}

	#exhibitions .info,
	#artists .info {
		width: 98%;
	}

}