/**************************************
	Red Arrow styles 
**************************************/
body {
	-moz-box-shadow: 1px 0px 0px #e1e1e1;
	-webkit-box-shadow: 1px 0px 0px #EEE;
	-o-box-shadow: 1px 0px 0px #eee;
	box-shadow: 1px 0px 0px #EEE;
	color: #000;
	font-family: Arial, sans-serif;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	overflow: hidden;
}

#logo {
	width: 90px;
	height: 125px;
	text-align: center;
	position: absolute;
	z-index: 10;
	bottom: 0;
	right: 0;
}

#nav {
	font-family: 'Poiret One', sans-serif;
	margin-left: 18%;
	margin-right: 18%;
	text-align: center;
	overflow: visible;
	margin-top: 5px;
}

.nav_button {
	width: 100px;
	display: inline-block;
	text-align: center;
	padding: 3px 6px 3px 1px;
	font-size: 1em;
	color: gray;
}

#sign_out_button {
	font-family: 'Poiret One', sans-serif;
	font-size: .7em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#bAbAbA), to(#5A5A5A));
	background: -moz-linear-gradient(bottom, #bAbAbA, #5A5A5A);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bAbAbA', endColorstr='#5A5A5A');
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 0px 1px rgba(255,255,255,0.1);
	-moz-box-shadow: 0 0px 1px rgba(255,255,255,0.1);
	box-shadow: 0 0px 1px rgba(255,255,255,0.1);
	color: #fff;
	padding: .5em;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 2px;
	margin-right: 2px;
}

#sign_out_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#333));
	background: -moz-linear-gradient(bottom, #6e6e6e, #333);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6e6e', endColorstr='#333');
	cursor: pointer;
}

#port {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;	
  	width: 100%;
	height: 80%;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
}

.pane{
	width: 100%;
}

#information {
	font-family: 'Poiret One', sans-serif;
	font-size: .9em;
	letter-spacing: .5em;
	color: Gray;
	text-align: center;
	line-height: 2;
	margin-right: 90px;
}

a {
	color: DarkGrey;
    text-decoration:none;	
}

a:link {
}

a:visited {
}

a:hover, a:focus {
	color: rgb(67, 200, 255);
	-webkit-transition: all 0.2s ease-in; /*Safari & Chrome*/
	transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in; /* Firefox 4 */
    -o-transition: all 0.2s ease-in; /* Opera */
}

a:active  {
	color: DeepPink;
}

.current {
	color: rgb(67, 170, 255);
}

p {
	color: #333;
	text-align: left;
	margin-top: 1em;
	font-size: .9em;
	line-height: 1.5em;
}

.title {
	font-size: 1.5em;
	font-family: 'Poiret One', sans-serif;
	line-height: 1em;
}

#announcement {
	font-family: 'Poiret One', sans-serif;
	letter-spacing: 1.5px;
	font-size: 1.2em;
	text-align: center;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	line-height: 1.3;
	margin-right: 90px;
}

#announcement a {
	color: Crimson;
}

#ascii_arrow {
	color: Crimson;
}

.flash_notice {
	font-family: 'Poiret One', sans-serif;
	color: LightGreen;
	width: 100%;
	text-align: center;
}

.flash_error {
	font-family: 'Poiret One', sans-serif;
	color: Crimson;
	width: 100%;
	text-align: center;
}

/**************************************
	Styles for small viewports 
**************************************/
@media all and (max-width: 840px) {

	#nav {
		margin-top: 0px;
		margin-left: 5%;
		margin-right: 5%;
	}

	#sign_out_button {
		position: static;
		display: inline-block;
		margin-bottom: 2px;
	}
	
	#port {
		height: 75%;
	}

	#announcement {
		margin-right: 1px;
	}
}