<!DOCTYPE html>
<html>
	<head>
		<title> Red Arrow Art Gallery </title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		
		<link rel="icon" type="image/png" href="assets/favicon.png" />

		<link rel="stylesheet" type="text/css" href="css/reset.min.css" />
		<link rel="stylesheet" type="text/css" href="css/redarrow.css" />
		
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="js/redarrow.js"></script>
	  
	</head>

	<body>

		<div id="logo">
			<img src="assets/red_arrow_logo.png" alt="the Red Arrow gallery logo" />
		</div>
		
		<div id="nav">
			<a class="nav_button" href="home.html">HOME</a>
			<a class="nav_button" href="exhibitions.html">EXHIBITIONS</a>
			<a class="nav_button" href="contact.html">CONTACT</a>
			<a class="nav_button" href="about.html">ABOUT</a>
		</div>

		<div id="port">										

			<div id="contact" class="pane">
				<div class="description">
					<p>
					<span class="title">Visit</span><br />
					The Red Arrow Gallery<br />
					61597 29 Palms Hwy<br />
					Joshua Tree, CA 92252<br />
					</p>
					<p>
					<span class="title">Hours</span><br />
					Saturday <span class="time">11 - 5</span><br />
					Sunday <span class="time">11 - 4</span><br />
					Weekdays by appointment<br />
					</p>
					<p>
						<span class="title">Connect</span><br />
						Rhonda Lane Coleman, Owner and Director<br />
						<a href="mailto:rhonda@theredarrowgallery.com">rhonda@theredarrowgallery.com</a>
						<p>
							Katie A. Shaw, Owner<br />
							<a href="mailto:katie@theredarrowgallery.com">katie@theredarrowgallery.com</a>
						</p>
						<p>
							General info<br />
							<a href="mailto:info@theredarrowgallery.com">info@theredarrowgallery.com</a>
						</p>
					</p>
				</div>	
				<div class="description">
					<p id="google_map">
									<img
				 src="http://maps.googleapis.com/maps/api/staticmap?center=The+Red+Arrow+Gallery,61597+29+Palms+Hwy,Joshua+Tree,CA+92252&amp;zoom=15&amp;size=400x400&amp;maptype=hybrid&amp;markers=color:blue%7C34.134826,-116.31919&amp;sensor=true&amp;key=ABQIAAAAeyJLqowA5XdpqVD-QIY0KhQgdH1M6247cmsfwcCikgcmm-MInRSCx6RYvVURx0iRQqzscElTdyi13Q" alt=".the.red.arrow.gallery." />
					</p>
				</div>
			</div>
		</div>
		
		<div class="current"><span class="ascii_arrow">&#45;&gt;</span> <a href="assets/holiday_art_stroll_flyer.jpg">Please Join Us for the Joshua Tree 
Holiday Art Stroll on Saturday, December 8th from 6-9pm</a></div>
				
		<div id="information">
			<span class="info_snippet">THE RED ARROW GALLERY</span>&nbsp;:&nbsp;
			<span class="info_snippet">61597 29 PALMS HWY, JOSHUA TREE, CA 92252</span>&nbsp;:&nbsp;
			<span class="info_snippet">info@theredarrowgallery.com</span>
		</div>		
	</body>
</html>
