<!DOCTYPE html>
<html>
	<head>
		<title> Red Arrow Art Gallery </title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		
		<link rel="icon" type="image/png" href="assets/favicon.png" sizes="16x16" />

		<link rel="stylesheet" type="text/css" href="css/reset.min.css" />
		<link rel="stylesheet" type="text/css" href="css/redarrow.css" />
		
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css' />		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="js/redarrow.js"></script>
	  
	</head>

	<body>

		<div id="logo">
			<img src="assets/red_arrow_logo.png" alt="the Red Arrow gallery logo" />
		</div>
		
		<div id="nav">
			<a class="nav_button" href="home.html">HOME</a>
			<a class="nav_button" href="exhibitions.html">EXHIBITIONS</a>
			<a class="nav_button" href="contact.html">CONTACT</a>
			<a class="nav_button" href="about.html">ABOUT</a>
		</div>

		<div id="port">										
			<div id="exhibitions" class="pane">
				<div class="exhibition">
					<div class="info">
						<div class="name title">Voice Hearers</div>
						<div class="artists">Sarah Johanna Eick</div>
						<div class="opening">
							<span class="title">Reception</span>
							October 13, 2012  6 – 9 pm
						</div>
						<div class="dates">
							<span class="title">Dates</span>
							October 13 – November 4, 2012
						</div>
						<div class="thumbnails">
							<img class="thumbnail" src="assets/EickVoiceHearersAnni_thumb.jpg" alt="Sarah Johanna Eick--$Voice Hearers: Anni*, 2012--Photo mounted on Sintra with French wood cleat--40'' x 26 1/2''" />
							<img class="thumbnail" src="assets/EickVoiceHearersYilmaz_thumb.jpg" alt="Sarah Johanna Eick--$Voice Hearers: Yilmaz*, 2012--Photo mounted on Sintra with French wood cleat--40'' x 26 1/2''" />
							<img class="thumbnail" src="assets/EickWolfInSheepskinDiscovering_thumb.jpg" alt="Sarah Johanna Eick--$Wolf in Sheepskin: Discovering*, 2011--Epson print, matte, and custom wood frame with plexiglas--16'' x 11''" />
							<img class="thumbnail" src="assets/EickWolfInSheepskinTheShadow_thumb.jpg" alt="Sarah Johanna Eick--$Wolf in Sheepskin: The Shadow*, 2011--Epson print, matte, and custom wood frame with plexiglas--16'' x 11''" />
							<img class="thumbnail" src="assets/EickTheMoonNightTakeMeHome_thumb.jpg" alt="Sarah Johanna Eick--$The Moon Night: Take Me Home*, 2008--Epson print, matte, and custom wood frame with plexiglas--10'' x 10''" />
							<img class="thumbnail" src="assets/EickTheMoonNightBeingButMen_thumb.jpg" alt="Sarah Johanna Eick--$The Moon Night: Being but Men*, 2008--Epson print, matte, and custom wood frame with plexiglas--10'' x 10''" />
						</div>
						<div class="description">						
							<p>
								Berlin artist Sarah Johanna Eick is best known for her photographic essays, landscapes, and portraits. For her first exhibition in the United States, Eick introduces three bodies of work: <span class="work_title">Voice Hearers</span>, <span class="work_title">The Moon Night</span>, and <span class="work_title">Wolf in Sheepskin</span>. Eick’s theatrical photographs, influenced by painting and steeped in sociological studies, tend toward conceptual storytelling and reveal enigmatic situations and dysfunctional narratives. 
							</p>
							<p>
								Sarah Johanna Eick, born in 1974 in Münster, Germany, began her photography career while studying Art History, Philosophy and Applied Cultural Sciences at WWU in Münster.  These studies as well as independent projects, active freelance photography, and extensive travels throughout India, Japan, Vietnam and the U.S, have carefully shaped her artistic practice. Eick currently lives in Berlin, where she has worked for the past decade, and continues to focus her attention on storytelling, portraits, and landscapes.					
							
							</p>
							<p>
								<span class="title">&nbsp;&nbsp;&nbsp;&nbsp;<a href="assets/EickVoiceHearersPressRelease.pdf">Press Release</a></span>
								<span class="title">&nbsp;&nbsp;&nbsp;&nbsp;<a href="assets/EickVoiceHearersPoster.pdf">Poster</a></span>
							</p>
						</div>
					</div>
					
					<div class="work">
						<img class="full_size" src="assets/EickVoiceHearersAnni.jpg" alt="Sarah Johanna Eick--$Voice Hearers: Anni*, 2012--Photo mounted on Sintra with French wood cleat--40'' x 26 1/2''" />
						<div class="label">Sarah Johanna Eick<br /><span class="work_title">Voice Hearers: Anni</span>, 2012<br />Photo mounted on Sintra with French wood cleat<br />40'' x 26 1/2''</div>	
					</div>
					
				</div>	

				<div class="exhibition">
					<div class="info">
						<div class="name title">Elemental Abstraction</div>
						<div class="artists">William&nbsp;Loveless, Brian&nbsp;Wilson, Tina&nbsp;Bluefield, Delos&nbsp;Van&nbsp;Earl, Tanner&nbsp;McGuire, John&nbsp;Greenfield</div>
						<div class="opening">
							<span class="title">Reception</span>
							October 13, 2012,  6 – 9 pm
						</div>
						<div class="dates">
							<span class="title">Dates</span>
							October 13 – November 4, 2012
						</div>
						<div class="thumbnails">
							<img class="thumbnail" src="assets/LovelessElementalAbstraction1215_thumb.jpg" alt="William Loveless--$#1215*, 2012--Ink and watercolor, suspended in polyvinyl resin glue on wood--10'' x 10''" />
							<img class="thumbnail" src="assets/WilsonElementalAbstractionSantaRosa5pm_thumb.jpg" alt="Brian Wilson--$Santa Rosa 5pm*, 2012-- 							Acrylic, mixed media on board--20'' x 48''"/>
							<img class="thumbnail" src="assets/BluefieldElementalAbstractionRiverCone_thumb.jpg" alt="Tina Bluefield--$River Cone*, 2011-- Oil on canvas--16'' x 16''"/>
							<img class="thumbnail" src="assets/VanEarlElementalAbstractionAgainstTheGrain_thumb.jpg" alt="Delos Van Earl--$Against the Grain*, 2007--Oil enamel and mixed medium on panel--36'' x 36''" />
							<img class="thumbnail" src="assets/McGuireElementalAbstractionWhereWeUsedToPlay_thumb.jpg" alt="Tanner McGuire--$Where We Used to Play*, 2012--Wood, oil, acrylic, ink, and enamel on panel--19'' x 30''" />						
							<img class="thumbnail" src="assets/GreenfieldElementalAbstractionPagoda,7Tiers_thumb.jpg" alt="John Greenfield--$Pagoda, 7 Tiers*, 2011--Clay and glaze--7'' x 7'' x 11''" />

						
							
						</div>
						<div class="description">
							<p>
							Abstract paintings and sculpture by artists experimenting with aesthetic and organic elements – chemical reactions, pattern formations, environmental influences, material combinations and scientific formulas.
							</p>
							<p>
							<span class="title">&nbsp;&nbsp;&nbsp;&nbsp;<a href="assets/ElementalAbstractionPoster.pdf">Poster</a></span>
							</p>
						</div>
					</div>

					<div class="work">
						<img class="full_size" src="assets/LovelessElementalAbstraction1215.jpg" alt="William Loveless--$#1215*, 2012--Ink and watercolor, suspended in polyvinyl resin glue on wood--10'' x 10''" />
						<div class="label">William Loveless<br /><span class="work_title">#1215</span>, 2012<br />Ink and watercolor, suspended in polyvinyl resin glue on wood<br />10'' x 10''</div>	
					</div>					
					
				</div>	
			</div>
		</div>
		
		<div class="current"><span class="ascii_arrow">&#45;&gt;</span> <a href="assets/holiday_art_stroll_flyer.jpg">Please Join Us for the Joshua Tree 
Holiday Art Stroll on Saturday, December 8th from 6-9pm</a></div>

		<div id="information">
			<span class="info_snippet">THE&nbsp;RED&nbsp;ARROW&nbsp;GALLERY</span>
			<span class="info_snippet">61597&nbsp;29&nbsp;PALMS&nbsp;HWY,<span>
			<span class="info_snippet">JOSHUA&nbsp;TREE,&nbsp;CA&nbsp;92252</span>
			<span class="info_snippet">info@theredarrowgallery.com</span>
		</div>		
	</body>
</html>
